# Remote address for uploading backups
# SFTP: "sftp://root@192.168.178.3/mnt/user/backup/yrba"
# NFS: "sftp://root@192.168.178.3/mnt/user/backup/yrba"
remote = "sftp://root@192.168.178.3/mnt/user/backup/yrba"

# The amount of backups to keep
# Set to 0 to never delete old backups
amount_of_backups_to_keep = 5

# SFTP Settings (only used if remote string above is set to sftp protocol)
# if both public key path & password is defined, only the public key will be used!
sftp_pubkey_path = "~/.ssh/id_ed25519.pub"
sftp_privkey_path = "~/.ssh/id_ed25519"
sftp_privkey_password = ""
sftp_password = ""

# Path to folders to back up, supports relative paths
folders_to_backup = ["~/Desktop", "~/.config"]
