# Remote address for uploading backups
# SFTP: "sftp://root@127.0.0.1/path/to/my/backup/storage/directory"
remote = "sftp://root@127.0.0.1/path/to/my/backup/storage/directory"

# The amount of backups to keep
# Set to 0 to never delete old backups
amount_of_backups_to_keep = 5

# SFTP Settings (only used if remote string above is set to sftp protocol)
# if both public key path & password is defined, first the private key authentication is tried,
# and if that fails the password is tried next.
sftp_pubkey_path = "~/.ssh/id_ed25519.pub"
sftp_privkey_path = "~/.ssh/id_ed25519"
sftp_privkey_password = ""
sftp_password = ""

# Path to folders to back up, supports relative paths
folders_to_backup = [
    "~/.config"
]
