services:
  yrba:
    image: 'dcpacky/yrba-official:latest'
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./config.toml:/app/config.toml
      - ./folder-to-backup:/backup
      - ~/.ssh/:/auth
